---
import { Icon } from 'astro-icon/components';
import { getCurrentLanguage, t } from '~/i18n';

export interface Props {
    text: string;
    url: string | URL;
    class?: string;
}

const { text, url, class: className = 'inline-block' } = Astro.props;
const lang = getCurrentLanguage();
---

<div class={className}>
  <span class="align-super font-bold text-slate-500 dark:text-slate-400" data-i18n-key="social.share"
    >{t('social.share', lang)}:</span
  >
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title={t('social.twitterShare', lang)}
    data-i18n-title="social.twitterShare"
    data-aw-social-share="twitter"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-x"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title={t('social.facebookShare', lang)}
    data-i18n-title="social.facebookShare"
    data-aw-social-share="facebook"
    data-aw-url={url}
    ><Icon
      name="tabler:brand-facebook"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title={t('social.linkedinShare', lang)}
    data-i18n-title="social.linkedinShare"
    data-aw-social-share="linkedin"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-linkedin"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title={t('social.whatsappShare', lang)}
    data-i18n-title="social.whatsappShare"
    data-aw-social-share="whatsapp"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-whatsapp"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title={t('social.emailShare', lang)}
    data-i18n-title="social.emailShare"
    data-aw-social-share="mail"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:mail"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
</div>
